@font-face {
    font-family: 'Quentincaps';
    src: url('../fonts/Quentincaps-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Firlest';
    src: url(../fonts/firlest-regular.otf) format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cowboyoutlaw';
    src: url(../fonts/cowboyoutlaw-r9qgm.otf) format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {

    font-family: 'Cowboyoutlawtextured';
    src: url(../fonts/cowboyoutlawtextured-bljev.otf) format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Headlandone';
    src: url(../fonts/HeadlandOne-Regular.ttf) format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}