.headerboks {
    margin: 1rem 1.5rem 0.5rem 1.5rem;
}

.headerboks ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}


.headerboks li {
    text-align: center;
    font-family: 'Firlest';
    font-style: normal;
    font-weight: normal;
}

.headerboks a {
    display: inline-block;
    text-decoration: none;
    color: var(--forside-header);
    font-size: 1.5rem;
    transition: transform 0.2s ease, color 0.2s ease;
}

.headerboks a:hover {
    color: #b0581d;
    transform: scale(1.2);
}

#cowboyhat {
    width: 6%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0.5rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin-bottom: 1rem;
    transition: transform 0.2s ease, color 0.2s ease;
}

.grid-item img:hover {
    transform: scale(1.2);
}


.grid-billede img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s ease, color 0.2s ease;
}

.grid-billede img:hover {
    transform: scale(1.2);
}

#skull {
    margin-left: 2%;
}





/*Kode for om mig layout*/

.grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;

}

.frame {
    cursor: pointer;
    transition: opacity 0.8s ease-in-out;
    opacity: 1;
}

.frame.fade {
    opacity: 0;
}


.grid-1-3 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 2em;
    margin-right: 2em;
}

.grid-3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
    margin-left: 3em;
    margin-right: 2em;
}

.grid-3-2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 1.5em;
}

.omosnav {
    margin-bottom: 3rem;
}

.omosnav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.omosnav li {
    margin: 0 2rem;
}

.omosnav a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: var(--forside-header);
    font-size: 1.5rem;
    transition: transform 0.2s ease, color 0.2s ease;
    align-items: center;
}

.omosnav a:hover {
    color: #b0581d;
    transform: scale(1.2);
}

.grid-1-1-1tekst {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-left: 3em;
    margin-right: 4em;
}

.skills {
    background-color: #8f4000;
    padding: 1rem;
    border-radius: 15px;
}

.skills p {
    background-color: var(--body-bg-color);
    padding: 0.5rem;
    font-family: 'Cowboyoutlaw';
    font-size: 1.1rem;
}

.twocolumns {
    display: flex;
    gap: 5.5rem;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.column {
    flex: 50%;
    align-items: center;
}

#tidligere {
    margin-bottom: 8rem;
}