.headerboks {
    margin: 1rem 1.5rem 0.5rem 1.5rem;
    position: relative;
    z-index: 10;
}

.headerboks ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}


.headerboks li {
    text-align: center;
    font-family: 'Firlest';
    font-style: normal;
    font-weight: normal;
    z-index: 3;
}

.headerboks a {
    display: inline-block;
    text-decoration: none;
    color: var(--forside-header);
    font-size: 1.5rem;
    transition: transform 0.2s ease, color 0.2s ease;
    z-index: 3;
}

.headerboks a:hover {
    color: #b0581d;
    transform: scale(1.2);
}

#cowboyhat {
    width: 6%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin-bottom: 1rem;
    transition: transform 0.2s ease, color 0.2s ease;
}

.grid-item img:hover {
    transform: scale(1.2);
}


.grid-billede img {
    width: 75%;
    height: 75%;
    max-height: 400px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s ease, color 0.2s ease;
}

.grid-billede img:hover {
    transform: scale(1.2);
}

#skull {
    margin-left: 2%;
}

.grid-billede2 img {
    width: 75%;
    height: 75%;
    max-height: 400px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/*Kode for om mig layout*/



.frame {
    cursor: pointer;
    transition: opacity 0.7s ease-in-out;
    opacity: 1;
    border-radius: 5px;
    margin-left: 11%;
    object-fit: cover;
    overflow: hidden;
}

.frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.frame.fade {
    opacity: 0;
}


.omosnav {
    margin-bottom: 3rem;
}

.omosnav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.omosnav li {
    margin: 0 2rem;
}

.omosnav a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: var(--forside-header);
    font-size: 1.5rem;
    transition: transform 0.2s ease, color 0.2s ease;
    align-items: center;
    font-family: 'Firlest';
    font-style: normal;
    font-weight: normal;
}

.omosnav a:hover {
    color: #b0581d;
    transform: scale(1.2);
}



.skills {
    background-color: #e5a26b;
    padding: 1rem;
    border-radius: 15px;
}

.textmargin {
    font-size: 1.1rem;
    font-family: 'Headlandone', sans-serif;
    margin-left: 1.8rem;
    margin-right: 1.8rem;

}

.skills p {
    background-color: var(--body-bg-color);
    padding: 0.5rem;
    font-family: 'Cowboyoutlaw';
    font-size: 1.1rem;
}

.twocolumns {
    display: flex;
    gap: 5.5rem;
    margin: auto;
}

.column {
    flex: 50%;
    align-items: center;
}

#tidligere {
    margin-bottom: 8rem;
    margin: auto;
}



@media (min-width: 900px) {
    .grid-billede2 img {
        display: none;
    }

    .grid-billede2 {
        display: none;
    }

    .grid-1-1-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 2rem 0.5rem;
    }

    .logo {
        width: 350px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-bottom: 0;
    }

    .frame {
        width: 100%;
        max-width: 350px;
        max-height: 500px;
    }

    /*Kode for om-mig side*/

    .grid-1-2tekst {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
        margin-left: 3em;
        margin-right: 4em;
    }

    .grid-1-3 {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;

    }

    .grid-1-3 img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-left: 2em;
        margin-right: 2em;
    }

    .grid-3-2 {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 3rem;
        margin-left: 3em;
        margin-right: 2em;
    }

    .grid-3-2 img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-right: 1.5em;
    }

    .twocolumns {
        margin-left: 20%;
        margin-right: 20%;
    }



}

@media (max-width: 900px) {
    .grid-billede {
        display: none;
    }

    .grid-billede img {
        display: none;
    }

    .logo {
        width: 150px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-bottom: 0;
    }

    .twocolumns {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem !important;
    }


    .frame {
        height: 350px;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .frame {
        height: 400px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 5%;
    }
}