/*Tror det ka ændres til mobil design ved bare at skjule overflow*/

.roulette {

    --slot-spacing: clamp(180px, 30vw, 260px);

    position: relative;
    width: 100%;
    max-width: 600px;
    height: 320px;
    margin: auto;
    margin-top: 3rem;
}

.image-slot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    text-align: center;

    transform-origin: center;
    transition:
        transform 0.45s ease,
        opacity 0.45s ease;
}


.image-slot img {
    width: 100%;
    border-radius: 12px;
}

/* ROLES */

.image-slot.prev {
    transform:
        translate(calc(-50% - var(--slot-spacing)),
            -50%) scale(0.75);
    opacity: 0.4;
    z-index: 1;
}

.image-slot.current {
    transform:
        translate(-50%, -50%) scale(1);
    opacity: 1;
    z-index: 3;
}

.image-slot.next {
    transform:
        translate(calc(-50% + var(--slot-spacing)),
            -50%) scale(0.75);
    opacity: 0.4;
    z-index: 1;
}


/* Hover hint */
.image-slot.prev,
.image-slot.next {
    cursor: pointer;
}

h3 {
    margin: 10px 0;
}

.info {
    margin-top: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

/*.controls {
    margin-top: 20px;
    gap: 15%;
    display: flex;
    justify-content: center;
} */

.popover {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.97);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popover-content {
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
}

.popover-page {
    display: none;
}

.popover-page.active {
    display: block;
}

.hidden {
    display: none;
}