/*Tror det ka ændres til mobil design ved bare at skjule overflow*/

.roulette {
    --slot-spacing: clamp(160px, 30vw, 260px);
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 320px;
    margin: auto;
    margin-top: 3rem;
}

.image-slot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    text-align: center;

    transform-origin: center;
    transition:
        transform 0.45s ease,
        opacity 0.45s ease;
}


.image-slot img {
    width: 100%;
    border-radius: 12px;
}

/* ROLES */

.image-slot.prev {
    transform:
        translate(calc(-50% - var(--slot-spacing)),
            -50%) scale(0.75);
    opacity: 0.4;
    z-index: 1;
    overflow: hidden;
}

.image-slot.current {
    transform:
        translate(-50%, -50%) scale(1);
    opacity: 1;
    z-index: 3;
}

.image-slot.next {
    transform:
        translate(calc(-50% + var(--slot-spacing)),
            -50%) scale(0.75);
    opacity: 0.4;
    z-index: 1;
    overflow: hidden;
}


/* Hover hint */
.image-slot.prev,
.image-slot.next {
    cursor: pointer;
}

h3 {
    margin: 10px 0;
}

.info {
    margin-top: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.info button {
    background-color: var(--CTA-button);
    color: var(--body-bg-color);
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.info button:hover {
    background-color: var(--CTA-button-hover);
    color: var(--CTA-tekst-hover);
    transform: scale(1.2);
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

/*.controls {
    margin-top: 20px;
    gap: 15%;
    display: flex;
    justify-content: center;
} */

.popover {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 1100px;
    background: #efb682;
    border: solid #7A4231 5px;
    z-index: 100;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.popup::-webkit-scrollbar {
    display: none;
}

.popover-content {
    max-width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.popover-page {
    display: none;
}

.popover-page.active {
    display: block;
}


.hidden {
    display: none;
}

.popover h2 {
    font-size: 3rem;
    text-align: normal !important;
    color: #7A4231;
}

.popover img {
    max-width: 80%;
    border-radius: 12px;
    object-fit: cover;
    padding: 0.5em;
    background-color: #7A4231;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

details {
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: #f1c8a1;
    border-radius: 20px;
}

details summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Headlandone';
    font-style: normal;
    transition: margin 0.5s ease;
}

details[open] summary {
    font-weight: normal;
    margin-bottom: 0.5rem;
}

details>*:not(summary) {
    animation: slideDown 0.5s ease;
}

/*Animation for details*/
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#mobilbillede {
    width: 35%;
    height: auto;
}

details li {
    font-size: 1.2rem;
}

.leftcowboyhat {
    display: none;
}

.rightcowboyhat {
    display: none;
}


@media(max-width: 600px) {

    .roulette {
        overflow: hidden;
    }

    .image-slot {
        overflow: hidden;
    }

    .image-slot.prev {
        transform:
            translate(calc(-20% - var(--slot-spacing)),
                -50%) scale(0.6);
        opacity: 0.4;
        z-index: 1;
        overflow: hidden;
    }

    .image-slot.current {
        transform:
            translate(-50%, -50%) scale(0.8);
        opacity: 1;
        z-index: 3;
    }

    .image-slot.next {
        transform:
            translate(calc(-80% + var(--slot-spacing)),
                -50%) scale(0.6);
        opacity: 0.4;
        z-index: 1;
        overflow: hidden;
    }
}

@media(min-width: 800px) {
    .leftcowboyhat {
        display: block;
        width: 170px;
        height: 150px;
        position: absolute;
        left: 7%;
        top: 55%;
    }

    .rightcowboyhat {
        display: block;
        width: 170px;
        height: 150px;
        position: absolute;
        right: 7%;
        top: 55%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}