.roulette {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}



.track {
    display: flex;
    transition: transform 0.4s ease;
}

.image-slot {
    width: 200px;
    flex-shrink: 0;
    text-align: center;
    opacity: 0.4;
    transform: scale(0.9);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.image-slot img {
    width: 100%;
    border-radius: 10px;
}

.image-slot.faded {
    opacity: 0.4;
    transform: scale(0.9);
    cursor: pointer;
}

.image-slot.active {
    opacity: 1;
    transform: scale(1);
}

h3 {
    margin: 10px 0;
}

.info {
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

.controls {
    margin-top: 20px;
    gap: 15%;
    display: flex;
}

#prev {
    transform: translateX(-40px) scale(0.9);
}

#next {
    transform: translateX(40px) scale(0.9);
}