body {
    background-color: var(--body-bg-color);
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: 'Quentincaps', monospace;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 3rem;
}

h1 a {
    display: inline-block;
    text-decoration: none;
    color: var(--body-bg-color);
    padding: 0.5rem;
    background-color: var(--CTA-button);
    border-radius: 25px;
    transition: transform 0.2s ease, color 0.2s ease;
}

h1 a:hover {
    background-color: var(--CTA-button-hover);
    color: var(--CTA-tekst-hover);
    transform: scale(1.2);
}

h2 {
    font-family: 'Cowboyoutlaw', monospace;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-family: 'Firlest';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 1.5rem;
}

p {
    font-family: 'Headlandone', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-style: 1.1rem;
}

footer {
    background-color: var(--foot-color);
    margin-bottom: 0px;
    background-color: #FEECDE;
    padding: 2rem;
    border: 3px solid var(--CTA-button);
}

footer h3 {
    margin: 0;
    margin-left: 1.5rem !important;
}

.flexfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-family: 'Cowboyoutlaw', sans-serif;
        font-size: 1.3rem;
    }

    li {
        list-style: none;

    }

    a {
        text-decoration: none;
        font-size: 1.3rem;
    }
}



.lavet {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Firlest', sans-serif;
    color: #cc9258;
    opacity: 0.8;
    margin-bottom: 1rem;
}

.forsideheader {
    color: var(--forside-header);
    font-size: 3rem;
}

#velkommen {
    font-size: 2rem;
}


/*Kode for outline*/

.frame-wrapper {
    position: relative;
    margin: 11px;
    margin-top: -3em;

}

/* SVG is a BACKGROUND layer */
@media(min-width: 800px) {
    .page-frame {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
    }

    .forsideheader {
        margin-top: 1.8em;
    }
}


@media (max-width: 799px) {
    .page-frame {
        display: none;
    }

    .frame {
        margin-left: 11rem;
    }
}



.framed-content {
    position: relative;
    z-index: 1;
    padding: 3rem;

}

.cls-1 {
    fill: #ac7b49;
}